html {
	margin: auto;
	height: 100%;
}

body {
	height: 100%;
	color: darkgoldenrod;
	margin: 0px;
    text-align: center;
	font-family: 'Federo', sans-serif;
	background-color: black;
	background-image: url("Cinema.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

header {
	background-image: url("WebsiteLogoMobile.png"); /*Original picture adapted from https://pixabay.com/en/rodeo-western-cowboy-west-wild-311524/ */
	background-repeat: no-repeat;
	background-position: center;
	padding: 35px;
}

.navBar {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 10px;
	max-width: 1180px;
}

.navButton { /*All buttons created using http://www.bestcssbuttongenerator.com/ */
	margin-left: 5px;
	margin-right: 5px;
	background:linear-gradient(to bottom, #d1d1d1 5%, #bababa 100%);
	background-color:#3d3d3d;
	border-radius:42px;
	border:1px solid #3d3d3d;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family: 'Slabo+27px';
	font-size:12px;
	font-weight:bold;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 50px #e1e2ed;
	width: 100px;
}

.navButton:hover {
	background:linear-gradient(to bottom, #bababa 5%, #d1d1d1 100%);
	background-color:#bab1ba;
}
.navButton:active {
	position:relative;
	top:1px;
}

.navButtonSmall { /*All buttons created using http://www.bestcssbuttongenerator.com/ */
	margin-left: 2px;
	margin-right: 2px;
	background:linear-gradient(to bottom, #d1d1d1 5%, #bababa 100%);
	font-family: 'Federo', sans-serif;
	background-color:#3d3d3d;
	border-radius:20px;
	border:1px solid #3d3d3d;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:12px;
	font-weight:bold;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 50px #e1e2ed;
	width: 80px;
	outline: none;
}

.navButtonSmall:hover {
	background:linear-gradient(to bottom, #bababa 5%, #d1d1d1 100%);
	background-color:#bab1ba;
}
.navButtonSmall:active {
	position:relative;
	top:1px;
}

#cartButton {
	padding: 5px;
	margin: 5px;
	padding-left: 0px;
	padding-right: 0px;
}

.removeButton, #details{
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Arial;
	font-size:10px;
	font-weight:bold;
	padding:2px 6px;
	text-decoration:none;
}

#wrapper {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
	max-width: 1180px;
}

#purchaseWrapper {
	display: flex;
	overflow: hidden;
	max-width: 1180px;
	min-height: 70%;
}

#purchaseMain {
	padding: 10px;
	background: radial-gradient(#515151 25%, #424242 50%, #383838 100%);
	border: 1px solid #A3A7AF;
	border-radius: 50px;
	width: 100%;
}

.ticketTable {
	display: flex;
	justify-content: center;
}
		
#sidebar {
	width: 100%;
	padding: 10px;
	background: radial-gradient(#515151 25%, #424242 50%, #383838 100%);
	border: 1px solid #A3A7AF;
	border-radius: 50px;
}
		
#main {
	width: 100%;
	padding: 10px;
	padding-top: 20px;
	background: radial-gradient(#515151 25%, #424242 50%, #383838 100%);
	border: 1px solid #A3A7AF;
	overflow: hidden;
	border-radius: 50px;
}

.mainLI {
	margin-bottom: 20px;
}

#ticketIMG {
	width: 130px;
	height: 100px;
}

#ticketIMG:hover {
	margin-top: 2px;
	margin-bottom: 0px;
}

#ticketPrices {
	height: 70%;
	vertical-align: middle;
	font-size: 12px;
	padding: 5px;
}

#cheap, #expensive {
	margin: auto;
}

.ticketSpace {
    position: fixed;
    padding: 16px;
    border: 2px solid #A3A7AF;
    background-color: rgba(0,0,0,0.85);
	color: darkgoldenrod;
    z-index:1;
	top: 80px;
	left: 8%;
    overflow: auto;
	width: 75%;
	height: 70%;
	font-size: 12px;
}

ul {
	display: inline-block;
	text-align: left;
}

#seatingIMG {
	height: 100px;
	width: 120px;
}

.atright {
    float: right;
}

.moviespace {
    position: fixed;
    top: 25%;
    left: 35%;
	text-align: -webkit-center;
    padding: 16px;
    border: 5px solid black;
    background-color: rgba(192,192,192,0.9);
    z-index:1;
    overflow: auto;
	width: 75%;
	height: 70%;
	margin-top: -100px;
	margin-left: -90px;
}

.movieTrailer {
	width: 100%;
}

td.totalPrice {
	text-align: right;
}

#blackbg {
    background-color: rgba(0,0,0,.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.moviesDiv {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 90%;
	margin: auto;
	margin-bottom: 30px;
	font-size:10px; 
	max-width: 1180px;
}

.lightbox {
	color: black;
}

#div1, #div2, #div3, #div4 {
	display: flex;
	flex-flow: row wrap;
	background: radial-gradient(#515151 25%, #424242 50%, #383838 100%);
	border: 1px solid #A3A7AF;
	width: 200px;
	padding: 10px;
	height: 100%;
	margin-top: 10px;
	margin-left: 10px;
}

.movieSynopsis {
	width: 75%;
	height: 100%;
	padding: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

.movieSynopsis>h1 {
	font-size: 28px;
	margin: 0px;
	margin-bottom: 4px;
}

.movieIMGDiv>img {
	width: 160px;
	height: 240px;
	margin-left: 20px;
}

.sessionList {
	list-style: none;
	padding: 0px;
	margin-top: 0px;
}

.sessionList>form {
	padding: 5px;
}

.sessionList>form>li {
	padding: 5px;
}

.sessionList>form>li:nth-child(even) {
	background: lightslategrey;
}

.sessionList>form>li>a {
	text-decoration:none;
	color: black;
}

.sessionList>form>li>a:hover {
	text-decoration:none;
	color: red;
}
#contactWrapper, #reserveWrapper {
	background: radial-gradient(#515151 25%, #424242 50%, #383838 100%);
	border: 1px solid #A3A7AF;
	margin: 3px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	overflow: hidden;
	border-radius: 50px;
	max-width: 1180px;
}

.bookingTable {
	border: none;
	margin: auto;
	text-align: end;
}
	
input {
	height: 20px;
	width: 80%;
	margin: 0px 10px 10px 10px;
}
	
select {
	height: 25px;
	width: 80%;
	margin: 5px;	
}
	
textarea {
	margin: 10px;
	width: 90%;	
}

.cartForm {
	padding: 0px;
}

.cartEdit{
	width: 45px;
}

#userDetailsReserveForm>table>thead>tr>th {
		padding: 3px;
	}
	
#submitButton {
	margin-top: 10px;
	height: 25px;
	width: 120px;
}
	
#resetButton {
	margin-top: 10px;
	height: 25px;
	width: 120px;
}

#mapDiv {
	margin-bottom: 20px;
	max-width: 1180px;
	padding-bottom: 10px;
}

#socialNetworkLinks {
	padding-top: 10px;
	padding-bottom: 5px;
}

.IMDbButton {
	margin-left: 5px;
	box-shadow: 0px 1px 1px 0px #fff6af;
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Impact;
	font-size:20px;
	font-weight:bold;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.IMDbButton:hover {
	background-color:#d1bc30;
}

.IMDbButton:active {
	position:relative;
	top:1px;
}

.facebookButton {
	margin-right: 5px;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

.facebookButton:hover {
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	background-color:#5972a7;
}

.facebookButton:active {
	position:relative;
	top:1px;
}

.twitterButton {
	margin-left: 5px;
	margin-right: 5px;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

.twitterButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}

.twitterButton:active {
	position:relative;
	top:1px;
}

.booking {
	border: 1px solid white;
	margin: 10px;
	padding-bottom: 10px;
	color: black;
	background-color: rgba(255,255,255,0.3);
}
	  
footer {
	background: radial-gradient(#515151 25%, #424242 50%, #383838 100%);
	padding-top: 20px;
	font-size: 12px;
	border-top: 1px solid #A3A7AF;
	height: 135px;
	max-width: 1180px;
}

@media only screen and (min-width: 480px) {

	header {
		background-image: url("WebsiteLogoPortrait.png"); /*Original picture adapted from https://pixabay.com/en/rodeo-western-cowboy-west-wild-311524/*/
		padding: 50px;
	}
	
	.navBar {
		display:block;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 80%;
		padding-top: 15px;
		padding-bottom: 15px;
		border-radius: 50px;
		border: 1px solid #A3A7AF;
		background: radial-gradient(#515151 25%, #424242 50%, #383838 100%);
	}
	
	.navButton {
		font-size:15px;
	}

	#wrapper {
		margin-bottom: 25px;
	}
	
	#purchaseWrapper {
		margin-bottom: 25px;
	}

	#div1, #div2, #div3, #div4 {
		width: 350px;
	}
	
	.movieIMGDiv {
		margin:auto;
	}
	
	.movieIMGDiv>img {
	margin-left: 0px;
}
	
	.movieSynopsis {
		width: 90%;
	}
	
	.moviespace {
		margin-top: -50px;
		margin-left: -150px;
	}

	#contactWrapper {
		margin: 5px;
		margin-bottom: 25px;
		padding: 10px;
		padding-bottom: 20px;
	}
	
	#reserveWrapper {
		margin: 5px;
		margin-bottom: 25px;
		padding: 10px;
		padding-bottom: 20px;
	}
	
	#main ul{
		margin: 0px 50px 0px 50px;
	}
	
	#ticketIMG {
		width: 190px;
		height: 160px;
		margin-top: 20px;
	}
	
	#ticketIMG:hover {
		margin-top: 22px;
	}
	
	#ticketPrices {
		font-size: 14px;
	}	
	
	.ticketSpace {
		margin-top: 0px;
		margin-left: 0%;
	}
	
	#seatingIMG {
		height: 200px;
		width: 240px;
	}
	
	#mapDiv {
		font-family: 'Federo', sans-serif;
		padding: 10px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		background-color: black;
		background: radial-gradient(#515151 25%, #424242 50%, #383838 100%);
		border-radius: 50px;
		color: darkgoldenrod;
		border: 1px solid #A3A7AF;
	}
	
	#map{
		width : 100%;
		height : 200px;
		border: 0; 
	}
	
	form {
		padding: 0px 25px 25px 25px;
		vertical-align: middle;
		box-sizing: border-box;	
	}
	
	input {
		height: 20px;
		width: 300px;
		margin: 0px 10px 10px 10px;
	}
	
	select {
		height: 25px;
		width: 150px;
		margin: 10px;	
	}

	textarea {
		width: 400px;	
	}
	
	#userDetailsReserveForm>table>thead>tr>th {
		padding: 10px;
	}

	#socialNetworkLinks {
		padding-bottom: 30px;
	}
	
	.booking {
		width: 80%;
		margin: auto;
	}
	
	footer {
	    padding: 10px;
		font-size: 18px;
	}
}

@media only screen and (min-width: 650px) {
		
	header {
		background-image: url("WebsiteLogo.png"); /*Original picture adapted from https://pixabay.com/en/rodeo-western-cowboy-west-wild-311524/ */
		padding: 75px;
	}
	
	.navBar {
		margin-bottom: 20px;
	}
	
	.navButton {
		font-size: 16px;
		font-weight: bold;
		width: 168px;
	}
	
	#wrapper {
		width: 100%;
	}
	
	#purchaseWrapper {
		width: 100%;
	}
	
	#purchaseMain {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#main ul {
		margin: 0px 75px 0px 75px;
	}
	
	.ticketSpace {
		margin-top: 10px;
		margin-left: 1%;
		font-size: 16px;
	}
	
	#ticketPrices {
		font-size: 16px;
	}	
	
	#seatingIMG {
		height: 300px;
		width: 350px;
	}
	
	#map{
		width: 90%;
		height: 300px;
	}
	
	#contactWrapper, #reserveWrapper {
		width: 80%;
		margin: auto;
		margin-bottom: 20px;
	}
	
	#reserveWrapper  {
		min-height: 480px;
	}
	
	#mapDiv {
		width: 80%;
		margin: auto;
		margin-bottom: 20px;
	}
	
	#div1, #div2, #div3, #div4 {
		width: 450px;
	}
	
	.movieSynopsis {
		width: calc(45% - 12px);
		margin: auto;
	}
	
	.moviespace {
		margin-top: -100px;
		margin-left: -200px;
	}
	
	footer {
		width: 80%;
		margin: auto;
		border-right: 1px solid #A3A7AF;
		border-left: 1px solid #A3A7AF;
		border-top-right-radius:  50px;
		border-top-left-radius:  50px;
	}
	
}

@media only screen and (min-width: 800px) {
		
	#sidebar {
		width: calc(25% - 12px);
		padding: 20px;
	}
	
	#wrapper {
		justify-content: center;
	}
	
	#purchaseWrapper {
		justify-content: center;
	}
	
	#purchaseMain {
		width: 80%;
	}
	
	#main {
		width: calc(50% - 12px);
	}
	
	.ticketSpace {
		margin-left: 0%;
		width: 80%;
		font-size: 18px;
	}
	
	#ticketPrices {
		font-size: 18px;
	}
	
	header {
		background-image: url("WebsiteLogo.png"); /*Original picture adapted from https://pixabay.com/en/rodeo-western-cowboy-west-wild-311524/ */
		padding: 75px;
	}
	
	#div1, #div2, #div3, #div4 {
		width: 320px;
	}
	
	.movieSynopsis {
		width: calc(100% - 12px);
		margin: auto;
	}
	
	.movieSynopsis>p {
		font-size:17px;
	}
	
	.moviespace {
		width: 600px;
	}
	
	#movie3>h1 {
		font-size: 20px;
		padding-bottom: 10px;
	}
	
	textarea {
		width: 500px;	
	}
	
	#map{
		width: 80%;
		height: 450px;
	}
	
	#userDetailsReserveForm {
		padding: 25px 25px 25px 25px;
		display: flex;
		flex-direction: column;
    	align-items: center;
	}
	
	#userDetailsReserveForm>table>thead>tr>th {
		padding: 20px;
	}

}

@media only screen and (min-width: 1025px) { 
	
	#sidebar {
		width: calc(35% - 12px);
		padding: 20px;
	}
	
	#main {
		width: calc(60% - 12px);
	}
	
	#ticketIMG {
		margin-top: 50px;
	}
	
	#ticketIMG:hover {
		margin-top: 52px;
	}
	
	.ticketSpace {
		max-width: 950px;
	}
	
	#seatingIMG {
		height: 350px;
		width: 400px;
	}
	
	#romComSynopsis {
		padding-bottom: 20px;
	}
	
	#div1, #div2, #div3, #div4 {
		width: calc(45% - 12px);
	}
	
	#wrapper {
		width: 85%;
		justify-content: space-around;
		margin: auto;
		font-size: 20px;
	}
	
	#purchaseWrapper {
		width: 85%;
		margin: auto;
		font-size: 24px;
	}
	
	.moviespace {
		width: 800px;
	}
	
	ul {
		font-size: 20px;
	}
	
	select {
		width: 250px;
	}
	
	textarea {
		width: 700px;	
	}
}